<View>
  <Header value="Choose Resume Section:"/>
  <Text name="text" value="$text"/>
  <Choices name="resumeclassify" toName="text" choice="single" showInLine="true">
    <Choice value="EDU"/>
    <Choice value="WRKEXP"/>
    <Choice value="SUMMARY"/>
    <Choice value="CONTACT"/>
    <Choice value="ENDINFO"/>
    <Choice value="AWARDSCERTI"/>
    <Choice value="PAPERSCONFRENCE"/>
    <Choice value="OTHER"/>
  </Choices>
</View>