bin/
bin
pretrained
cvreconstruction
finalpdf

postgres-data/*
postgres-data2/*

*__pycache__*

app/temp
temp/

batchresumeprocessing/

instance/*

node_modules/*

nvm

logs

account.config.json
my_password.txt
RecruitAI.json

microservices/api/RecruitAI.json

label-studio/ner/project/backup/*
label-studio/ner/project/completions/*

gcp-service-account.json
gcp-compute-service-account.json