version: '3.7'

services:    
    
    resumemq:
        image: recruitai/resumemq:latest
        build:
            dockerfile: Dockerfile
            context: microservice/resume
        volumes:
            - /var/log/recruitai:/workspace/logs  
            - ./microservice/resume/app:/workspace/app       
            - ./home/jupyter/.cache:/root/.cache      
        environment:
            RABBIT_DB: amqp://rabbitmq?connection_attempts=5&retry_delay=5&heartbeat=3600
            RESUME_PARALLEL_PROCESS: 1
        extra_hosts:
            - "rabbitmq:116.202.234.182"
            - "redis:116.202.234.182"

    summarymq:
        image: recruitai/summarymq
        build:
            dockerfile: Dockerfile
            context: microservice/summary
        volumes:
            - ./pretrained:/workspace/pretrained:ro
            - ./cvreconstruction:/workspace/cvreconstruction 
            - /var/log/recruitai:/workspace/logs  
            - ./microservice/summary/app:/workspace/app    
            - ./home/jupyter/.cache:/root/.cache        
        environment:
            RABBIT_DB: amqp://rabbitmq?connection_attempts=5&retry_delay=5
            PARALLEL_PROCESS: 1
        extra_hosts:
            - "rabbitmq:116.202.234.182"
            - "redis:116.202.234.182"
    
    picturemq:
        image: recruitai/picturemq
        build:
            dockerfile: Dockerfile
            context: microservice/picture
        volumes:
            - ./pretrained:/workspace/pretrained:ro
            - ./cvreconstruction:/workspace/cvreconstruction 
            - /var/log/recruitai:/workspace/logs  
            - ./microservice/picture/app:/workspace/app 
            - ./home/jupyter/.cache:/root/.cache            
        environment:
            RABBIT_DB: amqp://rabbitmq?connection_attempts=5&retry_delay=5 
            PARALLEL_PROCESS: 1
        extra_hosts:
            - "rabbitmq:116.202.234.182"
            - "redis:116.202.234.182"